@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        color: black;
    }


    .dark-mode {
        background-color: black;
        color: white;
    }
</style>
<body>
    <div class="text-center ">
        <h1 class="display-4">Monitoring Home Page</h1>
    </div>
    <p>Use the Navigation bar to view Database information.  Non-admin users are limited to read only privileges. </p>
</body>