@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Monitor Home Page</h1>

</div>

<td>
    <a asp-action="Index" asp-controller="Logs" class="btn btn-info">View Logs</a>
</td>
<td>
    <a asp-action="Index" asp-controller="Pages" class="btn btn-info">View Pages</a>
</td>
<td>
    <a asp-action="Index" asp-controller="User" class="btn btn-info">View Users</a>
</td>