@model MonitorTeamSolution.Models.ViewModels.LogEditVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LogEditVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TimeStamp" class="control-label"></label>
                <input asp-for="TimeStamp" class="form-control" />
                <span asp-validation-for="TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeLoggedIn" class="control-label"></label>
                <input asp-for="TimeLoggedIn" class="form-control" />
                <span asp-validation-for="TimeLoggedIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeLoggedOut" class="control-label"></label>
                <input asp-for="TimeLoggedOut" class="form-control" />
                <span asp-validation-for="TimeLoggedOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPageViews" class="control-label"></label>
                <input asp-for="NumberOfPageViews" class="form-control" />
                <span asp-validation-for="NumberOfPageViews" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionDuration" class="control-label"></label>
                <input asp-for="SessionDuration" class="form-control" />
                <span asp-validation-for="SessionDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageTitle" class="control-label"></label>
                <input asp-for="PageTitle" class="form-control" />
                <span asp-validation-for="PageTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
